div{
    display: block;
}

.genre_1{
    margin: 4px;
    display: flex;
    flex-wrap: nowrap;
}

.name, .rating{
    font:700 18px/20px "Museo Sans Cyrl 700", sans-serif;
    color: black;
    padding: 4px;
}
